*{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}
head {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
body {
	background-color: #FF968A;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
}
#isi_makanan{
	padding: 5px;
	width: 50%;
	height: auto;
	position: relative;
	margin-top: 5px;
}
.makanan1{
	position: absolute;
	top: 20%;
	left: 25%; 
	height: 350px;
	width: 650px;
	margin-right: 5px;
	margin-top: 3px;
	padding: 1px;
	border: 1px solid;
}
.title1{
	position: absolute;
	top: 111%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title1 h1{
	font-family: serif;
	color:  #000;
	font-size: 23px;
}
.title1 h2{
	font-family: sans-serif;
	color: #000;
	font-size: 17px;
}
.makanan2{
	position: absolute;
	top: 150%;
	left: 25%;
	height: 350px;
	width: 650px;
	margin-right: 5px;
	margin-top: 3px;
	padding: 1px;
	border: 1px solid;
}
.title2{
	position: absolute;
	top: 240%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title2 h1{
	font-family: sans-serif;
	color:  #000;
	font-size: 23px;
}
.title2 h2{
	font-family: sans-serif;
	color: #000;
	font-size: 17px;
}
.makanan3{
	position: absolute;
	top: 280%;
	left: 25%;
	height: 350px;
	width: 650px;
	margin-right: 5px;
	margin-top: 3px;
	padding: 1px;
	border: 1px solid;
}
.title3{
	position: absolute;
	top: 345%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title3 h1{
	font-family: sans-serif;
	color:  #000;
	font-size: 23px;
}
.title3 h2{
	font-family: sans-serif;
	color: #000;
	font-size: 17px;
}
.makanan4{
	position: absolute;
	top: 360%;
	left: 25%;
	height: 350px;
	width: 650px;
	margin-right: 5px;
	margin-top: 3px;
	padding: 1px;
	border: 1px solid;
}
.title4{
	position: absolute;
	top: 427%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title4 h1{
	font-family: sans-serif;
	color:  #000;
	font-size: 23px;
}
.title4 h2{
	font-family: sans-serif;
	color: #000;
	font-size: 17px;
}
.makanan5{
	position: absolute;
	top: 444%;
	left: 25%;
	height: 350px;
	width: 650px;
	margin-right: 5px;
	margin-top: 3px;
	padding: 1px;
	border: 1px solid;
}
.title5{
	position: absolute;
	top: 511%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title5 h1{
	font-family: sans-serif;
	color:  #000;
	font-size: 23px;
}
.title5 h2{
	font-family: sans-serif;
	color: #000;
	font-size: 17px;
}